.App {
  text-align: center;
}

.film-box{
  display:flex;
  flex-direction: column;
  margin: 10px;
  border:5px solid black;
  justify-content: center;
}

.film-list{
  margin: 10px;
  border:5px solid black;
}

.film{
  margin:10px;
  
  
}

a{
  color:rgb(15, 82, 170);
}

#button{
  margin:10px;
  background-color: #4e99c4; 
  border:2px solid black;
  color: rgb(15, 82, 170);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}
